<header class="flex justify-around items-center h-full py-1 bg-white border-b border-gray-300 max-md:hidden">
    <ul class="flex gap-1 text-md text-slate-700 ">
        <li><a href="">Nuestra Empresa</a></li>
        <li><a class="item" href="">Formas de Pago</a></li>
        <li><a class="item" href="">Politica de Reembolso</a></li>
        <li><a class="item" href="">Politica de Garantia</a></li>
    </ul>
    <ul class=" flex gap-1 text-md text-slate-700">
        <li><a href="">
            <i class="pi pi-map-marker text-sm"></i>
            Av. Giráldez 274 -278</a></li>
        <li><a href="" class="item">Tienda</a></li>
        <li class="flex">
           
            <a href="" class="item"> <i class="pi pi-user text-sm"></i>
                Mi Cuenta</a>
        </li>
    </ul>
</header>
